<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<button class="btn-primary" onclick="showHolaMundo()"> Ingresar</button>
<a id="holaMundo" class="col-lg-2" hidden="true">HOLA MUNDO</a>

<script type="text/javascript">
	function showHolaMundo() {
		document.getElementById("holaMundo").hidden = false;
	}
</script>